
.main{
    background-color: rgb(242, 242, 250);
    
    width: 350px;
    height:350px;
    border: 2px solid black;
    border-radius: 20px;
    padding: auto;
    float: right;
    font-size: 25px;

}
.img{ 
    background-image: url(backgroub.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
      
